<header>
    <h1>Programación Backend Coderhouse</h1>
<nav>
    <a href="/login">Iniciar sesión</a>

    <a href="/register">Registrarse</a>

    <a href="/restore-password">Restaurar contraseña</a>
</nav>
</header>