<nav>
    <a href="/">Iniciar sesión</a>
    <a href="/register">Registrarse</a>
    <a href="/restore-password">Restaurar contraseña</a>
</nav>
<div class="container">
<h1>Reestablecer contraseña</h1>
<form id="resetPasswordForm">
    <div>
        <input type="hidden" id="token" value="{{token}}">
        <label for="password">Nueva contraseña</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Reestablecer contraseña</button>
    </div>
</form>
</div>
<script src="/js/general/reset-password.js"></script>