<section>

<nav>
    <a href="/">Volver</a>
</nav>

<form id="restorePasswordForm">
    <div>
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email">
    </div>

    <div>
        <button type="submit">Restaurar contraseña</button>
    </div>
</form>
</section>
<script src="/js/general/restore-password.js"></script>