<nav>
    <a href="/">Iniciar sesión</a>
    <a href="/register">Registrarse</a>
    <a href="/restore-password">Restaurar contraseña</a>
</nav>
<div class="container">
<h1>Restaurar contraseña</h1>
<form id="restorePasswordForm">
    <div>
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <button type="submit">Restaurar contraseña</button>
    </div>
</form>
</div>
<script src="/js/general/restore-password.js"></script>