
<div class="profile">
<h1>Perfil del usuario</h1>
<div>
    <button>
        <a href="/products">Volver</a>
    </button>
</div>

<div>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Correo electrónico: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
</div>
</div>
