body {
    font-family: Arial, sans-serif;
    background-color: #f0f7ee;
    /* Verde pastel */
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-left: 2rem;
    margin-right: 2rem;

}

.b-container button {
    background-color: #75b79e;
    /* Verde pastel más oscuro */
    color: #fff;
    /* Color de texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.b-container button a {
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.card-header {
    text-align: center;
    color: #555;
    /* Color de texto gris oscuro */
}

.card-body {
    padding: 10px 0;
    color: #555;
    /* Color de texto gris oscuro */
}

.card-footer {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    background-color: #75b79e;
    /* Verde pastel más oscuro */
    color: #fff;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #5a9276;
    /* Verde pastel más claro en hover */
}

button a {
    text-decoration: none;
    color: #007bff;
}

button a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}