/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}



header {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #7f8c8d;
    margin: 0 10px;
    font-weight: 500;
}

nav a:hover {
    color: #2c3e50;
}

button {
    background-color: #a29bfe;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

button:hover {
    background-color: #6c5ce7;
}

/* Form Styles */
form {
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 1px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #7f8c8d;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #a29bfe;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #81ecec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

button[type="submit"]:hover {
    background-color: #00cec9;
}

/* Table Styles */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #dfe6e9;
    text-align: left;
}

th {
    background-color: #dfe6e9;
    color: #636e72;
}

tr:nth-child(even) {
    background-color: #f1f2f6;
}

/* Product Info Styles */
.product-info, .user-info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info p, .user-info p {
    margin: 10px 0;
    color: #7f8c8d;
}

.profile-documents {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-document {
    flex: 1 0 21%; /* 4 items per row */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f2f6;
}

.profile-document img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.profile-document p {
    text-align: center;
    margin-top: 5px;
    color: #7f8c8d;
}
