<h1>Bienvenido admin</h1>

<nav>
    <a href="/admin/products">Productos</a>

    <a href="/admin/users">Usuarios</a>

    <button onclick="logout()">Cerrar sesión</button>
</nav>

<script src="/js/admin/main.js"></script>