<section>
    <h1>Subir documentos</h1>

<nav>
    <a href="/profile">Volver</a>
</nav>

<form id="uploadDocumentsForm">
    <input type="hidden" id="userId" name="userId" value="{{user._id}}">

    <h3>Solo se admiten archivos con las extensiones: .jpg .jpeg</h3>

    <div>
        <label for="profile">Imagen de perfil</label>
        <input type="file" class="input-document" id="profile" name="profile">
    </div>

    <div>
        <label for="id">Identificación</label>
        <input type="file" class="input-document" id="id" name="id">
    </div>

    <div>
        <label for="adress">Domicilio</label>
        <input type="file" class="input-document" id="adress" name="adress">
    </div>

    <div>
        <label for="account">Estado de cuenta</label>
        <input type="file" class="input-document" id="account" name="account">
    </div>

    <div>
        <button type="submit">Subir documentos</button>
    </div>
</form>

</section>
<script src="/js/user/uploadDocuments.js"></script>